@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  font-size: 24px;
}

.header-container {
  min-height: 100px;
  margin: auto;
}

.header-div {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  clear: both;
}

a {
  text-decoration: none;
  font-size: 1em;
  position: relative;
  transition: all 0.6s;
  color: #00aeff;
}

a:before {
   content: "";
   width: 0;
   height: 0.1em;
   position: absolute;
   bottom: 0;
   left: 50%;
   background: red;
   transition: all 0.3s;
}

a:hover {
  color: red;
}

a:hover:before {
   width: 100%;
   left: 0;
   background: red;
}

.img-link:hover:before {
  width: 0;
}

li {
  margin: 2px 0;
}

ul:after {
  content: "";
  display: block;
  clear: both;
}

nav {
  background: #C9F5E4;
}

nav li {
  list-style: none;
  min-width: 100px;
}

nav li:first-child {
  margin-left: 0;
}

.links {
  display: flex;
  flex-direction: column;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background: #D9D8D8;
}

tr:nth-child(2n - 1) {
  background: beige;
}

th {
  background: #D9D8D8;
}

td, th {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 1070px;
  margin: auto;
}

label {
  margin: 10px 0;
}

.biography-input {
  resize: none;
}

.accept-container {
  margin: 10px 0;
}

.btn {
  min-width: 30%;
  margin: 10px auto;
  font-weight: bold;
}

@media screen and (min-width: 961px) {
  main {
    max-width: 960px;
  }
}

footer span {
  line-height: 100px;
  font-size: 20px;
}

footer {
  text-align: center;
  margin-top: 50px;
}

